<div class="bg">
        <h2 style="color: white">GALLERY</h2>
        <div class="div">
                <a class="nav-link" href="../../../assets/arts/valparai.jpg" target="_blank">
                    <mat-card>
                        <mat-card-title>VALPARAI</mat-card-title>
                        <img mat-card-xl-image src="../../../assets/arts/valparai1.JPG" class="images">
                    </mat-card>    
                </a>
                <a class="nav-link" href="../../../assets/arts/Kodai.JPG" target="_blank">
                    <mat-card>
                        <mat-card-title>KODAIKANAL</mat-card-title>
                        <img mat-card-xl-image src="../../../assets/arts/kodai1.JPG" class="images">
                    </mat-card>    
                </a> <a class="nav-link" href="../../../assets/arts/yercadu1.jpg" target="_blank">
                    <mat-card>
                        <mat-card-title>YERCADU</mat-card-title>
                        <img mat-card-xl-image src="../../../assets/arts/Yercadu.jpg" class="images">
                    </mat-card>    
                </a>
        </div>
</div>

