.mat-card{
    font-size: small;
    color: whitesmoke;
    font-weight: 500;
    background-image: repeating-linear-gradient(blue, black, blue);
    text-align: center;
    float: left;
    margin-left: 12px;
}
.mat-list-item
{
    color: white;
}
.div{
    background-image: url(../../../../assets/arts/r15v31.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
}