.div{
    background-image: url(../../../assets/arts/r6.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    color: white;
}